/* 
CSS EXERCISES

        11) Give a maximum width to the body and center it in the page
        12) Set every h1 to be centered
        13) Change the color of each link in the page
        14) Create a class with a border
        15) Set table to have rounded corners
        16) Add margin between every paragraph
        17) Create a class which change font size and boldness
        18) Create a class to hide a content
        19) Add a green border to each td
        20) Add a dotted red border to each tr (note: tr does not accept a border property ;-) )
       
*/ 

body > div {          /*EX11*/
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;  
    margin: auto; /*centering element horizontally*/
}

h1 {          /*EX12*/
    text-align: center; /*aligning text to center*/
}

a {          /*EX13*/
    background-color:brown; /* background-color as color was not visible*/
    margin: 1rem;
}

table {          /*EX15*/
    border: solid;
    border-radius: 5px;
}

p {          /*EX16*/
    margin: 1rem;
}

td {          /*EX19*/
    border: solid green;
}

.test {          /*EX14*/
    border: 3px solid; 
}

.font {          /*EX17*/
    font-size: 14px;
    font-weight: bold;
}

.hide {          /*EX18*/
    display: none;
}

                /*EX20*/
tr td:first-child {
    border-left: 1px dotted red;
  }

  tr td:last-child {
    border-right: 1px dotted red;
  }

  td {
    border-bottom: 1px dotted red;
    border-top: 1px dotted red;
  }

  footer {
      padding: 1rem;
  }